.sec1{
    
    .container{margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .commonCard{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}}