footer {
  background-color: rgb(183, 183, 252);
  .container {
    padding: 50px;
    .row {
      .col {
        img {
          width: 100px;
        }
        .email-input {
          display: flex;
          justify-content: center;
          position: relative;
          input {
            background-color: rgb(183, 183, 252);
            border: none;
            border-bottom: 1px solid $color-green;

            color: $color-green;
            position: absolute;
            left: 0px !important;
            width: 290px;
          }
          button {
            background-color: rgb(172, 172, 250);

            position: relative;
            color: $color-green;

            padding: 0 20px;
            border: none;
          }
        }

        nav {
          display: flex;
          justify-content: space-between;
          ul {
            p {
              color: $color-green;
              border-bottom: 1px solid transparent;
              width: 30px;
              &:hover {
                border-color: black;
                color: black;
              }
            }
    
            li {
              margin-bottom: 15px;
              a {
                border-bottom: 1px solid transparent;
                color: $color-green;

                &:hover {
                  border-color: black;
                  color: black;
                }
              }
            }
          }
          @media only screen and (max-width: 767px) {
            flex-direction: column;
          }
        }
      }
    }
  }
}
