.sec2{background-color: coral;
    
    .container{
        display: flex;
        align-items:center ;
        justify-content: center;
       height: 88vh;
        form{
            display: flex;
            align-items:center ;
            justify-content: center;
            flex-direction: column;
            gap: 15px;
            input{
                width: 300px;
                padding: 10px;
                border-radius: 8px;
                border: none;
            }
            #submit{
                color: red;
                border: none;
                background-color: rgb(247, 216, 177);
                padding: 5px 15px;
                border-radius: 5px;
            }
        }
    }
}